{% extends "base.html" %}

{% block head_titulo %} Login {% endblock %}

{% block content %}

<div class="p-5">
    <h1 class="">Login</h1>

    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-danger"> {{ message }} </div>

            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>

{% endblock %}