{% extends "base.html" %}

{% block content %}

    <div class="contenedor" style="display: flex; justify-content: space-between; border: 1px solid orange; padding: 20px">

        <div>
            <h1>{{ post.titulo }}</h1>
            <h3>{{ post.resumen }}</h3>
            <p>{{ post.cuerpo_del_post }}</p>
            <p><date><i>{{ post.modificado_en }}</i></date> | Creado por {{ post.usuario }}</p>
        </div>

        <div>
            <img src="{{ post.url_foto }}" alt="{{ post.titulo }}" width="350px" title="{{ post.titulo }}">
        </div>

    </div>

{% endblock %}