<div style="display: flex; justify-content: center;">
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ posts.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">siguiente</a>
                <a href="?page={{ posts.paginator.num_pages }}">Ùltima &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>


<br><br><br>